.row__posters {
    display: flex;
    overflow-y: hidden; 
    overflow-x: scroll;
    padding: 20px;
    /* background-color: white; */
}

.row {
    display: flex;
    color: white;
}

.row__posters::-webkit-scrollbar {
    display: none;
}
.row__poster {
    
    object-fit: contain;
    transition: transform 450ms;
    max-height: 150px;
    /* max-width: 150px; */
    width: 100%;
    margin-right: 10px;
}

.row__poster:hover {
    transform: scale(1.08);

}

.row__posterLarge {
    max-height: 250px;
}

.row__poster:hover {
    transform: scale(1.09);
}


/* p {
    font-weight: 600;
    margin: 2px;
    font-size: 15px;
    font-family: Arial;
    text-overflow: ellipsis;
    text-align: center;
}

.poster {
    max-width: 150px;
    max-height: 360px;
    /* background-color: whitesmoke; 
} */