.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    text-align: start;
    /* background-color: white; */
    align-items: center;
}

 .link{
    text-decoration: none;
    color: white;
}

.link-multimidia {
    font-size: 20px;
}

.account-container {
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.account-container h3 {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}