header {
    background-color: #e02041;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.welcome {
    display: flex;
    align-items: center;
}


.banner h3{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.link{
    text-decoration: none;
}